body {

    margin: 0;

    font-family: Arial;

    background: #f4f6f9;
}

.container {

    width: 80%;

    margin: auto;

    padding: 30px;
}

.card {

    background: white;

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 10px;

    box-shadow:
        0 2px 8px rgba(0,0,0,0.1);
}

input,
textarea,
select {

    width: 100%;

    padding: 10px;

    margin-top: 10px;

    margin-bottom: 10px;
}

button {

    background: #007bff;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;
}

button:hover {

    background: #0056b3;
}

.score-card {

    text-align: center;

    margin-top: 20px;
}

.score-circle {

    width: 150px;

    height: 150px;

    border-radius: 50%;

    background: #28a745;

    color: white;

    font-size: 32px;

    display: flex;

    justify-content: center;

    align-items: center;

    margin: auto;
}